@charset "UTF-8";
@media all and (min-width: 1366px) {
  .bloc-accueil {
    width: 90%;
    max-width: 1400px;
    min-height: 93vh;
  }
}

.bloc-menu {
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 200px;
}
@media all and (min-width: 768px) {
  .bloc-menu {
    display: flex;
    justify-content: center;
  }
}
@media all and (min-width: 1366px) {
  .bloc-menu {
    background-size: cover;
    padding: 12% 0 5% 0;
    min-height: 62vh;
  }
}

.francaise {
  background-image: url("http://127.0.0.1:5500/images/restaurants/200_la-francaise.jpg");
}

.note {
  background-image: url("http://127.0.0.1:5500/images/restaurants/200_note-enchantee.jpg");
}

.palette {
  background-image: url("http://127.0.0.1:5500/images/restaurants/200_palette-du-gout.jpg");
}

.delice {
  background-image: url("http://127.0.0.1:5500/images/restaurants/200_delice-des-sens.jpg");
}

.header__logo {
  display: block;
  width: 165px;
  /* Pour correspondre à la maquette */
  margin: 0 auto 11px auto;
}
@media all and (min-width: 1366px) {
  .header__logo {
    width: initial;
    margin: 0 auto 50px auto;
  }
}
@media all and (min-width: 768px) {
  .header__flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 50px 5% 70px 5%;
  }
}
@media all and (min-width: 1366px) {
  .header__flex {
    padding: 30px 0 70px 5%;
  }
}

.sFonct {
  padding: 50px 5% 70px 5%;
}
@media all and (min-width: 768px) {
  .sFonct {
    width: 43%;
    padding: 0;
    max-width: 415px;
  }
}
@media all and (min-width: 1366px) {
  .sFonct {
    width: 32%;
  }
}
.sFonct__titre {
  margin-bottom: 5px;
}
.sFonct__ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.sFonct__li {
  margin: 24px 0 0 12px;
}

.fonct-lien {
  position: relative;
  box-shadow: 2px 5px 13px -1px rgba(35, 35, 35, 0.13);
  display: inline-block;
  line-height: 74px;
  font-weight: 500;
  width: 100%;
  border-radius: 20px;
  background: #f6f6f6;
  z-index: 1;
}
.fonct-lien__cercle {
  display: inline-block;
  position: relative;
  left: -12px;
  text-align: center;
  line-height: 25px;
  width: 25px;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  font-size: 0.8em;
}
.fonct-lien__icone {
  margin: 0 6% 0 2%;
  color: #777777;
}
.fonct-lien:hover::after {
  opacity: 1;
}
.fonct-lien:hover .fonct-lien__icone {
  color: #9356DC;
}
.fonct-lien::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s;
  border-radius: 20px;
  background: #f2eafb;
}

.sRest {
  padding: 60px 5% 60px 5%;
  background: #f6f6f6;
}
@media all and (min-width: 1366px) {
  .sRest {
    border-radius: 30px;
    margin-bottom: 80px;
  }
}
.sRest__titre {
  margin-bottom: 5px;
}
.sRest__flex {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 768px) {
  .sRest__flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.sRest__flex .rest-lien {
  box-shadow: 2px 5px 13px -1px rgba(35, 35, 35, 0.13);
  margin-top: 18px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
@media all and (min-width: 768px) {
  .sRest__flex .rest-lien {
    width: 32%;
    margin-top: 30px;
  }
}
@media all and (min-width: 1366px) {
  .sRest__flex .rest-lien {
    width: 22%;
  }
}
.sRest__flex .rest-lien__fig {
  position: relative;
}
.sRest__flex .rest-lien__img {
  display: block;
  width: 100%;
  height: 175px;
  object-fit: cover;
}
@media all and (min-width: 1366px) {
  .sRest__flex .rest-lien__img {
    height: 350px;
  }
}

.rest-lien__descr {
  padding: 16px 0 16px 14px;
  background: white;
  box-sizing: border-box;
  height: 76px;
}
.rest-lien__descr > h3 {
  margin-bottom: 5px;
  font-size: 1.06em;
}
.rest-lien__descr > p {
  font-weight: 300;
}

.sMenu {
  background: #f6f6f6;
  padding: 30px 5% 82px 5%;
  border-radius: 40px 40px 0 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* Pour que max-width contienne le padding */
  max-width: 1400px;
}
@media all and (min-width: 1366px) {
  .sMenu {
    width: 90%;
    border-radius: 40px;
  }
}
.sMenu__titre {
  display: flex;
  justify-content: space-between;
  padding: 0 7% 0 5px;
  background: #f6f6f6;
  border-radius: 30px 30px 0 0;
}
.sMenu__titre > h1 {
  font-family: "Shrikhand";
  font-size: 1.8em;
  font-weight: 400;
}
@media all and (min-width: 768px) {
  .sMenu__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
  }
}

.menu-type {
  margin-top: 35px;
}
@media all and (min-width: 768px) {
  .menu-type {
    flex: 1 1 338px;
    max-width: 49%;
    /* "gap: 2%" diminue la taille des flex-items de 1%, une valeur de 49% permet d'obtenir la même largeur maximum */
  }
}
@media all and (min-width: 1366px) {
  .menu-type {
    width: 31%;
  }
}
.menu-type__titre {
  position: relative;
  margin: 0 0 23px 5px;
  font-size: 1em;
  font-weight: 300;
}
.menu-type__titre::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: -8px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.menu-type__ul {
  list-style-type: none;
  font-weight: 300;
}
.menu-type__li {
  display: flex;
  box-shadow: 2px 5px 13px -1px rgba(35, 35, 35, 0.13);
  position: relative;
  border-radius: 16px;
  background: white;
  overflow: hidden;
  box-sizing: border-box;
  height: 70px;
  margin-top: 16px;
  padding: 14px 22px 11px 11px;
  animation: delai 1s;
  animation-fill-mode: backwards;
}
.menu-type__li--1 {
  animation-delay: 0.15s;
}
.menu-type__li--2 {
  animation-delay: 0.3s;
}
.menu-type__li--3 {
  animation-delay: 0.45s;
}
.menu-type__li--4 {
  animation-delay: 0.6s;
}
.menu-type__li--5 {
  animation-delay: 0.75s;
}

@keyframes delai {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-lien {
  width: 100%;
}
.menu-lien:hover .menu-lien__titre {
  width: calc(100% - 70px);
}
.menu-lien:hover .compo {
  width: calc(100% - 100px);
}
.menu-lien:hover .prix {
  transform: translateX(-70px);
}
.menu-lien:hover .menu-lien__anim {
  transform: translateX(-70px);
}
.menu-lien:hover .verif {
  animation: valid 0.5s;
  animation-fill-mode: none;
}
.menu-lien__titre {
  font-size: 1.1em;
  font-weight: 500;
  transition: width 0.6s;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-lien__flex {
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
  font-size: 0.95em;
}
.menu-lien__flex > .compo {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.6s;
  width: 100%;
  margin-top: 5px;
}
.menu-lien__flex > .prix {
  font-weight: 500;
  transition: transform 0.5s 0.05s;
  transform: translateX(0);
}
.menu-lien__anim {
  position: absolute;
  background: #99E2D0;
  right: -70px;
  top: 0;
  width: 70px;
  height: 70px;
  transition: transform 0.5s;
  transform: translateX(0);
  text-align: center;
}
.menu-lien__anim > .verif {
  color: white;
  font-size: 1.7em;
  line-height: 70px;
  transform: rotate(-360deg);
}

@keyframes valid {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
.form {
  position: relative;
  text-align: center;
  /* Centre le titre, le paragraphe (et l'input en responsive) */
  background: #f6f6f6;
  padding-bottom: 55px;
}
@media all and (min-width: 768px) {
  .form {
    border-radius: 30px;
    width: 53%;
  }
}
@media all and (min-width: 1366px) {
  .form {
    width: 60%;
  }
}
.form__label {
  position: absolute;
  line-height: 50px;
  /* La hauteur étant identique à celle de l'input, "top: 0" centre l'élément */
  top: 0;
  left: 28%;
  color: #444444;
}
@media all and (min-width: 768px) {
  .form__label {
    left: 30%;
  }
}
@media all and (min-width: 1366px) {
  .form__label {
    left: 36%;
  }
}
.form__input {
  box-sizing: border-box;
  padding-left: 35%;
  /* Il faut supprimer le padding par défaut pour que %width + %padding-left = 100% */
  width: 100%;
  line-height: 50px;
  background: #EAEAEA;
  border: none;
  box-shadow: inset 0px 6px 8px -9px rgba(0, 0, 0, 0.63);
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #444444;
}
@media all and (min-width: 768px) {
  .form__input {
    border-radius: 30px 30px 0 0;
    padding: 0 25% 0 35%;
  }
}
@media all and (min-width: 1366px) {
  .form__input {
    padding: 0 30% 0 40%;
  }
}
.form__titre {
  font-size: 1.5em;
  margin: 40px 15% 0 15%;
}
@media all and (min-width: 1366px) {
  .form__titre {
    margin-top: 50px;
  }
}
.form__texte {
  font-size: 1.1em;
  margin: 15px 10% 0 10%;
  font-weight: 300;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0 35px 0;
  background: #353535;
}
footer .ftr-cont {
  width: 90%;
  max-width: 1400px;
}
footer .ftr-cont__titre {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 1.1em;
  margin-bottom: 16px;
}
footer .ftr-cont__ul {
  list-style-type: none;
}
footer .ftr-cont__li {
  margin-top: 6px;
}
footer .ftr-cont__icone {
  font-size: 0.7em;
  margin-right: 10px;
}
footer .ftr-cont__lien {
  font-size: 1em;
  color: white;
}
footer .ftr-cont__lien--500 {
  font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 22px 0 0 0;
}
@media all and (min-width: 1366px) {
  body {
    margin-top: 50px;
  }
}

a {
  color: initial;
  text-decoration: none;
}

p, figure, h1, h2, h3, ul {
  margin: 0;
}

ul, input, button {
  padding: 0;
}

.btn-envoi {
  display: block;
  position: relative;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  /* Par défaut les boutons ont un padding */
  background: linear-gradient(176deg, #FF79DA 0%, #9356DC 100%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 8px -3px rgba(35, 35, 35, 0.5);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  z-index: 1;
}
.btn-envoi:hover::after {
  opacity: 1;
}
.btn-envoi::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 25px;
  background: linear-gradient(176deg, #a674e2 0%, #ff9de4 100%);
  box-shadow: 0px 5px 8px -3px rgba(35, 35, 35, 0.1);
  /* Mêmes valeurs que sur .btn avec une opacité plus faible */
  transition: opacity 0.5s;
}
.btn-envoi--form {
  width: 220px;
  margin-top: 30px;
}
@media all and (min-width: 768px) {
  .btn-envoi--form {
    min-width: 219px;
    width: 45%;
    margin-top: 35px;
  }
}
.btn-envoi--menu {
  width: 165px;
  margin: 50px auto 0 auto;
}
@media all and (min-width: 768px) {
  .btn-envoi--menu {
    width: 31%;
  }
}

.btn-coeur:hover::after {
  transform: scaleY(0);
}
.btn-coeur::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  display: block;
  width: 25px;
  height: 25px;
  transition: transform 1s;
  transform: scaleY(1);
  transform-origin: top;
}
.btn-coeur--rest {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.btn-coeur--rest::after {
  background: white;
}
.btn-coeur--menu {
  position: relative;
  padding-right: 20px;
  line-height: 42px;
}
.btn-coeur--menu::after {
  background: #f6f6f6;
}
.btn-coeur__vi {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 100;
  z-index: 2;
}
.btn-coeur__pl {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  color: #FF79DA;
}

.btn-retour {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.1em;
  line-height: 63px;
  /* Correspond à la hauteur du logo avec marges */
  padding: 0 2% 0 5%;
}
@media all and (min-width: 1366px) {
  .btn-retour {
    line-height: 134px;
  }
}

.rest-lien__info {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 30px;
  width: 80px;
  background: #99E2D0;
  color: #24806a;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
}

.ldr {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #68686870;
  font-family: "Shrikhand", cursive;
  font-size: 1.9em;
  /* Correspond à la taille du logo sur mobile */
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  animation: loader-visib 3s forwards;
}
.ldr__rel {
  position: relative;
  height: 130px;
  width: 130px;
  background: white;
  border-radius: 50%;
}
.ldr__rel .ldr-bord {
  position: absolute;
  border-radius: 50%;
  background: #ededed;
  height: 114px;
  width: 114px;
  z-index: 1;
  top: 8px;
  left: 8px;
}
.ldr__rel .ldr-lumi {
  position: absolute;
  height: 126px;
  width: 126px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  opacity: 0;
}
.ldr__rel .ldr-lumi--1 {
  background: #FF79DA;
  animation: appar 600ms forwards;
}
.ldr__rel .ldr-lumi--2 {
  background: #99E2D0;
  animation: appar 600ms 0.6s forwards;
}
.ldr__rel .ldr-lumi--3 {
  background: #9356DC;
  animation: appar 600ms 1.2s forwards;
}
.ldr__rel .ldr-lumi--4 {
  background: #ff86de;
  background: linear-gradient(90deg, #ff86de 25%, #99e2d0 50%, #9356dc 75%);
  animation: appar 200ms 1.8s forwards, rotat-finale 600ms 1.8s;
}
.ldr__rel .ldr-logo {
  position: absolute;
  z-index: 2;
  font-size: 0.55em;
  left: 17px;
  top: 2px;
  display: flex;
  color: white;
  text-shadow: 0px 1px 3px #858585, 1px -1px 3px #858585;
}
.ldr__rel .ldr-logo__o1 {
  transform: translate(57%, 91%) rotate(-50deg);
}
.ldr__rel .ldr-logo__h {
  transform: translate(17%, 59%) rotate(-42deg);
}
.ldr__rel .ldr-logo__m {
  transform: translate(1%, 30%) rotate(-22deg);
}
.ldr__rel .ldr-logo__y {
  transform: translate(-1%, 17%) rotate(-2deg);
}
.ldr__rel .ldr-logo__f {
  transform: translate(-15%, 19%) rotate(4deg);
}
.ldr__rel .ldr-logo__o2 {
  transform: translate(-18%, 26%) rotate(15deg);
}
.ldr__rel .ldr-logo__o3 {
  transform: translate(-29%, 45%) rotate(28deg);
}
.ldr__rel .ldr-logo__d {
  transform: translate(-45%, 72%) rotate(43deg);
}

@keyframes loader-visib {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes appar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotat-finale {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.ldr-plat {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 25px;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: white;
  box-shadow: inset 0px 0px 12px -6px #494949;
}
.ldr-plat .feuille {
  position: absolute;
  z-index: 3;
}
.ldr-plat .feuille--1 {
  right: 10px;
  top: 10px;
  transform: rotate(-50deg);
  color: #99E2D0;
  opacity: 0;
  animation: appar 150ms 0.6s forwards, feuille-choc2 150ms 1.65s;
}
.ldr-plat .feuille--2 {
  right: 25px;
  top: 7px;
  transform: rotate(-80deg);
  color: #4acbab;
  z-index: 4;
  opacity: 0;
  animation: appar 150ms 0.7s forwards, feuille-choc1 150ms 1.55s;
}
.ldr-plat .feuille--3 {
  right: 11px;
  top: 17px;
  color: #278870;
  transform: rotate(90deg) rotateY(-30deg);
  z-index: 4;
  opacity: 0;
  animation: appar 300ms 0.8s forwards, feuille-glisse 1300ms 1.75s cubic-bezier(0.37, 1.25, 0.92, 1) forwards;
}
.ldr-plat .raisin {
  position: absolute;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  opacity: 0;
  z-index: 3;
}
.ldr-plat .raisin--1 {
  right: 28px;
  top: 58px;
  transform: rotate(120deg);
  background: #9356DC;
  z-index: 4;
  width: 12px;
  height: 12px;
  animation: appar 100ms 1.2s forwards, raisin-choc 500ms 1.65s cubic-bezier(0.13, 1.15, 0.92, 1) forwards;
}
.ldr-plat .raisin--2 {
  right: 60px;
  top: 15px;
  transform: rotate(120deg);
  background: #782cd3;
  z-index: 4;
  width: 8.5px;
  height: 8.5px;
  animation: appar 50ms 1s forwards, raisin-rebond 700ms 1s forwards;
}
.ldr-plat .raisin--3 {
  right: 48px;
  top: 60px;
  transform: rotate(120deg);
  background: #6023a9;
  animation: appar 150ms 1.4s forwards;
}
.ldr-plat .raisin--4 {
  right: 39px;
  top: 50px;
  transform: rotate(120deg);
  background: #3c166a;
  z-index: 3;
  animation: appar 100ms 1.3s forwards, raisin-roule 500ms 1.3s forwards;
}
.ldr-plat .raisin--5 {
  right: 55px;
  top: 20px;
  transform: rotate(120deg);
  background: #301255;
  animation: appar 200ms 1.5s forwards;
}
.ldr-plat .gateau {
  position: absolute;
  top: 25px;
  left: 5px;
  transform: rotate(210deg);
  color: #fface8;
  opacity: 0;
  animation: appar 400ms forwards;
}
.ldr-plat .cerise {
  position: absolute;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  z-index: 4;
  opacity: 0;
}
.ldr-plat .cerise--1 {
  top: 45px;
  right: 48px;
  background: #ff2dc5;
  animation: appar 100ms 0.2s forwards;
}
.ldr-plat .cerise--2 {
  top: 43px;
  right: 58px;
  background: #bb0088;
  animation: appar 100ms 0.3s forwards;
}
.ldr-plat .cerise--3 {
  top: 50px;
  right: 55px;
  background: #ff46cc;
  animation: appar 100ms 0.4s forwards;
}

@keyframes feuille-glisse {
  from {
    transform: translate(0) rotate(90deg) rotateY(-30deg);
  }
  to {
    transform: translate(1px, 3px) rotate(125deg) rotateY(0deg);
  }
}
@keyframes feuille-choc1 {
  0% {
    transform: rotate(-80deg);
  }
  50% {
    transform: rotate(-76deg);
  }
  100% {
    transform: rotate(-80deg);
  }
}
@keyframes feuille-choc2 {
  0% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-46deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}
@keyframes raisin-rebond {
  0% {
    transform: translate(0);
  }
  32% {
    transform: translate(2px, 14px);
  }
  45% {
    transform: translate(3px, 12px);
  }
  55% {
    transform: translate(5px, 15px);
  }
  100% {
    transform: translate(10px, 15px);
  }
}
@keyframes raisin-roule {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(4px, 5px);
  }
}
@keyframes raisin-choc {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(2px, 2px);
  }
}
@media all and (min-width: 1366px) {
  .bAccueil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
