.btn-envoi {
  display: block;
  position: relative;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0; /* Par défaut les boutons ont un padding */
  background: $clr-btn;
  border: none;
  border-radius: 25px;
  box-shadow: $obr-btn;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;   
  z-index: 1;
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    @include after;
    opacity: 0;
    z-index: -1;
    border-radius: 25px;
    background: $clr-btn-survol;
    box-shadow: $obr-btn-survol; /* Mêmes valeurs que sur .btn avec une opacité plus faible */
    transition: opacity .5s;
  }  
  &--form {
    width: 220px;
    margin-top: 30px;
    @include tabl-min {
      min-width: 219px;
      width: 45%;
      margin-top: 35px;
    }
  } 
  &--menu {
    width: 165px;
    margin: 50px auto 0 auto;
    @include tabl-min {
      width: 31%;
    }
  }  
}  

.btn-coeur {
  &:hover {
    &::after {
    transform: scaleY(0);
    }
  } 
  &::after {
    @include after;
    opacity: 1;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    transition: transform 1s;
    transform: scaleY(1);
    transform-origin: top;
  }
  &--rest {
    position: absolute;
    bottom: 50px;
    right: 50px;  
    &::after {
      background: white;
    }
  }
  &--menu {
    position: relative;
    padding-right: 20px;
    line-height: 42px;
    &::after {
      background: $clr-qua;
    }
  }
  &__vi {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 100;
    z-index: 2;
  }
  &__pl {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color: $clr-sec;
  }
}

.btn-retour {
  position: absolute;
  left: 0;
  top: 0;  
  font-size: 1.1em;
  line-height: 63px; /* Correspond à la hauteur du logo avec marges */
  padding: 0 2% 0 5%; 
  @include desk-min {
    line-height: 134px;
  }
}