body {
  font-family: 'Roboto', sans-serif;
  margin: 22px 0 0 0;
  @include desk-min {
    margin-top: 50px;
  }
}

a {
  color: initial;
  text-decoration: none;
}

p, figure, h1, h2, h3, ul {
  margin: 0;
}

ul, input, button {
  padding: 0;
}