body {
  font-family: $ft-roboto;
  margin: 22px 0 0 0;
  @include desk-min {
    margin-top: 50px;
  }
}

a {
  color: initial;
  text-decoration: none;
}

p, figure, h1, h2, h3, h4, ul, ol {
  margin: 0;
}

ul, ol, input, button {
  padding: 0;
}