// POLICES
$ft-logo: 'Shrikhand', cursive;
$ft-roboto: 'Roboto', sans-serif;

// COULEURS
$clr-pri: #9356DC;
$clr-sec: #FF79DA;
$clr-ter: #99E2D0;
$clr-qua: #f6f6f6;
$clr-inp: #EAEAEA;
$clr-pri-cr: lighten($clr-pri, 35);
$clr-btn: linear-gradient(176deg, $clr-sec 0%, $clr-pri 100%);
$clr-btn-survol: linear-gradient(176deg, lighten($clr-pri, 7) 0%, lighten($clr-sec, 7) 100%); /* Les couleurs de $clr-btn sont inversées et éclaircies */
$clr-coeur: linear-gradient(176deg, $clr-pri 0%, $clr-sec 100%); /* Les couleurs de $clr-btn sont inversées */

// OMBRES
$obr-lien: 2px 5px 13px -1px rgba(35, 35, 35, 0.13);
$obr-btn: 0px 5px 8px -3px rgba(35, 35, 35, 0.5);
$obr-btn-survol: 0px 5px 16px 10px rgba(35, 35, 35, 0.1);

// BORDURES
$br-carte: 16px;
$br-bloc: 40px;

// ANIMATIONS
$cr-cubic: cubic-bezier(.55,1.2,.93,1);
$cr-duree: 500ms;