.bloc-accueil {
  @include desk-min {
    width: 90%;
    max-width: map-get($larg, max);
    min-height: 93vh;
  }
  .accu {
    animation: appar 1s backwards;
      @for $n from 1 through 2 {
        &--#{$n} {
          animation-delay: .15s * $n;
      }
    }
  }
}

.bloc-menu {
  background-size: 121%;
  background-repeat: no-repeat;
  padding-top: 220px;
  @include tabl-min {
    background-size: 100%;
  }
  @include desk-min {
    display: flex;
    justify-content: center;
    background-size: cover;
    padding: 12% 0 5% 0;
    min-height: 62vh;
  }
  &--francaise {
    background-image: url("../images/restaurants/menu/200_la-francaise.jpg");
  }
  &--note-enchantee {
    background-image: url("../images/restaurants/menu/200_note-enchantee.jpg");
  }
  &--palette-du-gout {
    background-image: url("../images/restaurants/menu/200_palette-du-gout.jpg");
  }
  &--delice-des-sens {
    background-image: url("../images/restaurants/menu/200_delice-des-sens.jpg");
  }
}