footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0 35px 0;
  background: #353535;
  .ftr-cont {
    width: map-get($larg, bloc);
    max-width: 1400px;
    &__titre {
      font-family: $ft-logo;
      color: white;
      font-size: 1.1em;
      margin-bottom: 16px;
    }
    &__ul {
      list-style-type: none;
    }
    &__li {
      margin-top: 6px;
    }  
    &__icone {
      font-size: .7em;
      margin-right: 10px;
    }
    &__lien {
      font-size: 1em;
      color: white;
      &--500 {
        font-weight: 500;
      }
    }
  }
}