.form {
  position: relative;
  text-align: center; /* Centre le titre, le paragraphe (et l'input en responsive) */
  background: $clr-qua;
  padding-bottom: 55px;
  @include tabl-min {
    border-radius: 30px;
    width: 53%;
  }
  @include desk-min {
    width: 60%;
  }
  &__label {
    position: absolute;
    line-height: 50px; /* La hauteur étant identique à celle de l'input, "top: 0" centre l'élément */
    top: 0;
    left: 28%; 
    color: darken($clr-inp, 65);
    @include tabl-min {
      left: 30%;
    }
    @include desk-min {
      left: 36%;
    }
  }
  &__input {
    box-sizing: border-box;
    padding-left: 35%; /* Il faut supprimer le padding par défaut pour que %width + %padding-left = 100% */
    width: 100%;
    line-height: 50px;
    background: $clr-inp;  
    border: none;
    box-shadow: inset 0px 6px 8px -9px rgba(0,0,0,0.63);
    font-family: $ft-roboto;
    font-size: 1em;
    font-weight: 500;
    color: darken($clr-inp, 65);
    @include tabl-min {
      border-radius: 30px 30px 0 0;
      padding: 0 25% 0 35%;
    }
    @include desk-min {
      padding: 0 30% 0 40%;
    }
  }
  &__titre {
    font-size: 1.5em;
    margin: 40px 15% 0 15%;
    @include desk-min {
      margin-top: 50px
    }
  } 
  &__texte {
    font-size: 1.1em;
    margin: 15px 10% 0 10%;
    font-weight: 300;
  }
}