.sRest {
  padding: 55px 5% 60px 5%;
  background: $clr-qua;
  @include desk-min {
    border-radius: 30px;
    margin-bottom: 80px;
  }
  h1 {
    margin: 0 0 5px 0;
  }
  .rest-flex {
    display: flex;
    flex-direction: column;
    @include tabl-min {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }  
  .rest-lien {
    box-shadow: $obr-lien;
    margin-top: 18px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    @include tabl-min {
      width: 32%;
      margin-top: 30px
    }
    @include desk-min {
      width: 22%;
    }
    &__fig {
      position: relative;
      margin: 0;
    }
    &__img {
      display: block;
      width: 100%;
      height: 175px;
      object-fit: cover;
      @include desk-min {
        height: 350px;
      }
    }
  }
}  

.rest-lien__descr {
  padding: 18px 0 18px 13px;
  h2 {
    margin: 0 0 5px 0;
    font-size: 1.06em;   
  }
  p {
    margin: 0;
    font-weight: 300;
  }  
}  