.sMenu {
  background: $clr-qua;
  padding: 30px map-get($larg, padding) 82px map-get($larg, padding);
  border-radius: $br-bloc $br-bloc 0 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box; /* Pour que max-width prenne en compte le padding */
  max-width: map-get($larg, max); 
  @include desk-min {
    animation: appar 1s backwards;
    width: map-get($larg, bloc);
    border-radius: $br-bloc;
    background: #f6f6f6e6;
  }
  &__titre {
    display: flex;
    justify-content: space-between;
    padding: 0 3% 0 5px;
    @include tabl-min {
      padding: 0 12px 0 12px;
    }
    @include desk-min {
      padding: 5px 12px 5px 12px;
    }
    >h1 {
      font-family: $ft-logo;
      font-size: 1.8em;
      font-weight: 400;
    }
  }
  &__flex {
    @include tabl-min {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
    }
  }   
} 

.menu-type {
  margin-top: 35px;
  @include tabl-min {
    flex: 1 1 338px;
    max-width: 49%; /* "gap: 2%" diminue la taille des deux flex-items de 1%, une valeur de 49% permet d'obtenir la même largeur maximum */
  }
  @include desk-min {
    width: 31%;
  }
  &__titre {
    position: relative;
    margin: 0 0 23px 5px;
    font-size: 1em;
    font-weight: 300;
    &::after {
      @include after;
      bottom: -8px;
      border-bottom: 3px solid $clr-ter;
      width: 40px;      
    }
  }
  &__liste {
    list-style-type: none;
    font-weight: 300;   
  }  
}

.menu-plat {
  box-shadow: $obr-lien;
  position: relative;
  border-radius: $br-carte;
  background: white;
  overflow: hidden; /* Permet de cacher la coche située à l'extérieur */
  box-sizing: border-box;
  margin-top: 16px;
  padding: 14px 22px 12px 11px;
  animation: appar 1s backwards;
   @for $n from 1 through 4 {
      &--#{$n} {
        animation-delay: .15s * $n;
    }
  }
  @include desk-min {
    animation: appar 1s backwards;
      @for $n from 1 through 4 {
        &--#{$n} {
          animation-delay: .4s + .15s * $n;
      }
    }
  }
  &:hover {
    .menu-plat__titre {
      width: calc(100% - 60px);
    }
    .compo {
      width: calc(100% - 110px);
    }
    .prix {
      transform: translateX(-60px)
    }
    .menu-plat__anim {
      transform: translateX(-60px);
    }
    .verif {
      animation: valid .5s;
    }
  }  
  &__titre {
    font-size: 1.1em;
    font-weight: 500;
    width: 100%;
    transition: width .75s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    margin-right: 6px;
    font-size: .95em;
    margin-top: 5px;
    >.compo {
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      transition: width .75s;
    }
    >.prix {
      font-weight: 500;  
      padding-left: 3px;
      transition: transform .5s .05s; /* Le délai donne l'impression que l'élément est poussé */
      transform: translateX(0);
    }
  }  
  &__anim {
    position: absolute;
    background: $clr-ter;
    right: -60px; 
    top: 0; 
    width: 60px;
    height: 70px;
    transition: transform .5s;
    transform: translateX(0);
    text-align: center;
    >.verif {
      color: white;
      font-size: 1.35em;
      line-height: 70px;
    }
  }
}